<!DOCTYPE html>
<html>
 <head>
 <% include ./partials/head %>
 </head>
 <body>
   <header>
     <% include ./partials/header %>
   </header>
   <h1 class='center'>Robots</h1>
   <hr />
   <div class='row'>
     <div class='col s12 m4'>
       <h3>Additional Robots</h3>
       <form action='/robo' method='post'>
         <input type='text' name='name' placeholder='name' />
         <button class='btn btn-waves' type='submit'>Add</button>
       </form>
     </div>
     <table class='table col m8 s12'>
       <thead>
         <th>Robot Name</th>
         <th>x</th>
       </thead>
       <tbody>
         <% robo.forEach( function(robo) { %>
           <% var href='/robo/delete/' + robo %>
           <tr>
             <td><%= robo %></td>
             <td><a href=<%= href %> + <%= robo %></a>Delete</td>
         <% }); %>
       </tbody>
     </table>
   </body>
</html>