<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Robo Tracker</a>
		<ul id="nav-mobile" class="right">
			<li>
				<a href="/movies">Robot</a>
			</li>
			<li>
				<a href="/about">About Robots</a>
			</li>
		</ul>
	</div>
</nav>
